/* FORMATTED ENTIRE PAGE USING BOX ELEMENTS */

div.main {
  background-color: #f5f5f5;
  width: 95%;
  max-width: 950px;
  min-width: 700px;
}

/* CREATED PAGE SETTINGS, UNIVERSAL IMPORTANT SETTING NOTED IN HTML ALSO */

body {
    background-color: #f5f5f5;
    margin: auto;
    max-width: 950px;
    min-width: 700px;
    padding: 70px;
    font-family: 'Avenir', sans serif;
  }

/* FORMATTED NAV, ACTIVE AND HOVER STATES*/

div.topnav{
  text-align: center;
  word-spacing: 200px;
}

a.notactive{
  background-color: #f5f5f5;
}

a.active{
  box-shadow: 5px 5px 3px #d9c4d3;
}

a.notactive:hover {
  background-color: #d9c4d3;
}

/* FORMATTING CONTENT BY H1, H3,& PARAGRAPHS 1,2, & 3 */

  h1 {
    color: #485665;
    text-align: center;
    font-size: 50px;
  }

  h3 {
    color: #485665;
    text-align: center;
    font-size: 18px;
  }

  p {
    color: #485665;
    text-align: center;
    font-size: 16px;
  }

/* FORMATTING FAMOUS WORKS - ADJUSTING THE LINE HEICLARFY WHICH WORK IS BY WHICH ARTIST */

  p.a{
    font-style: italic
  }

  p.b{
    line-height: 0px;
  }

/* FORMATTING IMAGES TO RESPONSILVELY DISPLAY WHILE STAYING CENTERED */

  img {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

/* FURTHER ADJUSTING THE MARGINS FOR USER CLARITY */

  div.content{
    margin-top: 30px;
  }

  div.art{
    margin-top: 20px;
    margin-bottom: 60px;
  }